@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html *{
    font-family: 'Noto Sans TC', sans-serif;
}

#main{
    min-height: 90vh;
    
    .image-container{
        width: 80%;
        margin: 0 auto;
        position: relative;
        #trump{
            width: 100%;
            display: block;
        }
        .mask{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            visibility: hidden;
        }
        #text{
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            font-size: 30px;
            color: #fff;
            background-color: #000;
        }
    }
    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        transition: 0.6s ease;
    }
    .prev{
        left: 0;
    }
    .next{
        right: 0;
    }
    #save{
        display: block;
        margin: 0px auto 10px;
    }
}

footer p{
    margin: 0;
    padding: 5px 0;
}
    